@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: hsl(146, 37%, 48%);
  --color-primary-light: hsl(110, 47%, 82%);
  --color-primary-dark: hsl(183, 93%, 11%);
  --font-display: "Montserrat Alternates", serif;
  --font-text: "Montserrat", serif;
  --animate-fade-in-out-y: fade-in-out-y 9s infinite;
  --animate-color-change: color-change 9s infinite;
}
@keyframes fade-in-out-y {
  6.6% {
    opacity: 0;
    transform: translateY(20px);
  }
  33.3% {
    opacity: 1;
    transform: translateY(0px);
  }
  40% {
    opacity: 0;
    transform: translateY(20px);
  }
  66.6% {
    opacity: 1;
    transform: translateY(0px);
  }
  73.3% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes color-change {
  0% {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
  }
  33.3% {
    color: var(--color-rose-400);
    background-color: var(--color-rose-200);
  }
  66.6% {
    color: var(--color-amber-400);
    background-color: var(--color-amber-100);
  }
  100% {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
  }
}

@utility header {
  font-weight: var(--font-weight-extrabold);
  color: var(--color-primary-dark);
  text-align: center;
}
@layer base {
  h1 {
    @apply text-5xl sm:text-6xl;
  }
  h2 {
    @apply text-4xl sm:text-5xl;
  }
}
* {
  font-family: var(--font-display);
}
p {
  font-family: var(--font-text);
  line-height: 220%;
  font-weight: var(--font-weight-medium);
}

/* 
:root 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
